patient{color:red;font-size:16pt;}
pname{display:block;margin-top:15px;color:blue;}
disease{color:red;font-size:16pt;}
age{display:block;margin-left:20px;font-size:12pt;}
ptype{display:block;margin-left:20px;font-size:12pt;}
