<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml">
<head><title>Exercises on css</title>
<!-- external style sheet -->
<link type = "text/css" rel = "stylesheet" href = "extcss.css" />
<!-- document level style sheet -->
<style type = "text/css">
   p.doclvl { background-color : powderblue ;
	      color : brown;
	      font : 14pt 'Times New Roman';
	    }
</style>
</head>
<body>
  <p style = "background-color : red; color : yellow ; font-family : Futura, Arial;">
      Harry Potter is a series of seven fantasy novels written by the British author J. K. Rowling. The series chronicles the adventures of a young wizard, Harry Potter.<br/>
      The main story arc concerns Harry's quest to overcome the Dark wizard Lord Voldemort.
  </p>
  <p class = "doclvl">
      Each book chronicles one year in Harry's life with the main narrative being set in the years 1991to 1998. The books also contain many flashbacks.
  </p>
  <p class = "extlvl">
      A The Harry Potter novels fall within the genre of fantasy literature; however, in many respects they are also coming of age novels, and contain elements of mystery, adventure, thriller, and romance.
  </p>
</body>
</html>

<!-- extcss.css -->

p.extlvl { background-color : forestgreen ;
           color : white;
           font : bold 12pt Courier ;
          }
